
<%= link_to "post to classifieds", new_product_path %>
<p>
<br>
<%= link_to "sporting goods", products_path(:category => :sporting)%>
<br>
<%= link_to "cars and trucks", products_path(:category => :cars)%>
</p>